@model IEnumerable<Bits_on_chips_application.Models.Component>

@{
    ViewData["Title"] = "Cooler page";
}

<div class="text-center">
    <div class="title">@ViewData["Title"]</div>
    <div class="btns">
        <a class="nav-button" asp-area="" asp-controller="Store" asp-action="Categories">Back to categories</a>
    </div>
    @if (Model.Count() > 0)
    {
        <table class="component-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ComponentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Producer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Speed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberFans)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th class="btns-post"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ComponentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Speed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberFans)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td class="btns-post">
                            <div role="group">
                                <a class="btn-edit" asp-controller="Store" asp-action="Edit" asp-route-Id="@item.ComponentId">Edit</a>
                                <a class="btn-delete" asp-controller="Store" asp-action="Delete" asp-route-Id="@item.ComponentId">Delete</a>
                                <a class="btn-add" asp-controller="Store" asp-action="Details" asp-route-id="@item.ComponentId">Add to cart</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <br />
        <br />
        <div class="sub_title">
            No items in this category yet, please come back soon!
        </div>
    }
</div>