@model IEnumerable<Bits_on_chips_application.Models.CartItem>
@{
    ViewData["Title"] = "Shopping Cart";
}
<div class="text-center">
    <div class="title">@ViewData["Title"]</div>
    @if (Authentication.Jwt.JwtMiddleware.IsUserLoggedId(Context) && Authentication.Jwt.JwtMiddleware.IsUserInRole(Context,Bits_on_chips_application.Utility.Helper.Customer))
    {
        @if (Model.Count() > 0)
        {
            <table class="component-table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Component.Category.CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Component.ComponentName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Component.Producer)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Component.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{ float TotalPrice = 0;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Component.Category.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Component.ComponentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Component.Producer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Component.Price)
                            </td>
                            <td class="btns-post" role="group" style="text-align:end">
                                @Html.DisplayFor(modelItem => item.Quantity)
                                @{ CartItem cartItem = item;
                                    <a class="btn-edit" asp-controller="Cart" asp-action="ChangeQuantity" asp-route-id="@item.CartItemId">Change</a>}
                            </td>
                            <td class="btns-post" role="group">
                                <form class="input" method="post" asp-action="RemoveItem" asp-controller="Cart">
                                    <input asp-for="@item.CartItemId" hidden />
                                    <input type="submit" class="btn-delete" value="Remove" />
                                </form>
                            </td>
                        </tr>
                        TotalPrice = TotalPrice + item.Component.Price * item.Quantity;
                    }
                </tbody>
            </table>
            <b class="sub_title">Total: @TotalPrice RON</b>

            <div class="btns btns-post">
                <form class="input" method="post" asp-action="OrderPost" asp-controller="Cart">
                    <input type="submit" style="color:Highlight; border-color:Highlight" value="Order" />
                </form>
            </div>
        }
        else
        {
            <div class="sub_title">
                <ul>
                    <li>The cart is currently empty, search for a product <a class="nav-button" asp-area="" asp-controller="Store" asp-action="Categories">here</a>.</li>
                </ul>
            </div>
        }
    }
    else
    {
        <div class="sub_title"> Please login with your personal account in order to access your shopping cart</div>
        <div class="btns">
            <a class="nav-button" asp-controller="User" asp-action="Login">Login</a>
        </div>
    }
</div>